<section class="panel panel--5050">
    <div class="panel__container">
        <div class="panel__row">
            <div class="panel__col panel__col--left">
                <img src="img/stock1.jpg" class="panel__img"/>
            </div>
            <div class="panel__col panel__col--right">
                <h2 class="panel__heading">corporate events</h2>
                <p class="panel__content"><b>Capture your #hashtags</b>
                    1 billion Instagram users. 95 million posts a day. Interactively engage with your customers across the world.</p>
                    
                <p class="panel__content"><b>Event Involvement</b>
                    Customers can interact online and in person at the event. Improve your social media reach.</p>
            </div>
        </div>
    </div>
</section>

<section class="panel panel--5050">
    <div class="panel__container">
        <div class="panel__row panel__row--reverse">
            <div class="panel__col panel__col--left">
                <img src="img/stock2.jpg" class="panel__img"/>
            </div>
            <div class="panel__col panel__col--right">
                <h2 class="panel__heading">This is a heading</h2>
                <p class="panel__content"><b>Unique Keepsakes</b>
                    Take home more than memories from your special event - take home a giant mosaic of your guests!</p>
                    
                <p class="panel__content"><b>Digital Memories</b>
                    With digital copies of all the photos making up the mosaic, you'll never forget your birthday, wedding or party.</p>
            </div>
        </div>
    </div>
</section>