<section class="panel panel--download" id="download">
    <div class="download-bg">
        <img data-src="./img/iphonex.png" class="download-bg__phone" />
    </div>
        <div class="panel__container">
            <div class="panel__row panel__row--align-right">
                <div class="panel__col panel__col--content">
                    <h2 class="panel__heading">download the app</h2>
                    <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem sapien. Curabitur lectus nibh, vehicula sit amet luctus in, blandit consequat metus. </p>
                    <div class="download__buttons">
                        <a href="#" class="download__button download__button--apple"></a>
                        <a href="#" class="download__button download__button--google"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>