<header class="@@param">
    <div class="header__container">
        <a href="#" class="logo__link">
            <partial src="logo.html"></partial>
        </a>

        <nav id="nav">
            <a href="#our-process" class="nav__item">Our process</a>
            <a href="#recent-mosaics" class="nav__item">Recent mosaics</a>
            <a href="#download" class="nav__item">Download</a>
            <a href="#about" class="nav__item">About us</a>
            <a href="#contact" class="nav__item">Contact</a>
        </nav>

        <partial src="social-icons.html"></partial>

        <span class="nav-toggle">
            <span class="nav-toggle__line"></span>
        </span>

    </div>
</header>