<header class="@@param">
    <div class="header__container">
        <a href="/" class="logo__link">
            <partial src="logo.html"></partial>
        </a>

        <nav>
            <a href="#" class="nav__item">Home</a>
            <a href="#" class="nav__item">About us</a>
            <a href="#" class="nav__item">What we do</a>
            <a href="#" class="nav__item">Contact us</a>
        </nav>

        <div class="social-icons">
            <a href="#" class="social-icon icon-facebook2"></a>
            <a href="#" class="social-icon icon-instagram"></a>
            <a href="#" class="social-icon icon-mail"></a>
        </div>

        <span class="nav-toggle">
            <span class="nav-toggle__line"></span>
        </span>

    </div>
</header>