<section class="panel panel--process anchor-hitpoint" id="our-process">
    <div class="panel__container">
        <div class="panel__row">
            <div class="panel__col panel__col--content">
                <div class="process__container">
                    <span class="process__line"></span>
                    <span class="process__title">our process</span>
                    <span class="process__item process__item--active" data-id="capture">Capture</span>
                    <span class="process__item" data-id="process">Process</span>
                    <span class="process__item" data-id="print">Print</span>
                </div>
            </div>
            <div class="panel__col">
                <div class="process__description-container">
                    <div class="process__description process__description--active" id="capture">
                        <h2 class="panel__heading">Capture the hashtags</h2>
                        <p class="panel__content">Our dedicated cloud based servers scrape Instagram for your event
                            hashtag and capture the images.</p>
                        <a href="#" class="button button--light">find out more</a>
                    </div>

                    <div class="process__description" id="process">
                        <h2 class="panel__heading">Process</h2>
                        <p class="panel__content">Our dedicated cloud based servers scrape Instagram for your event
                            hashtag and capture the images.</p>
                        <a href="#" class="button button--light">find out more</a>
                    </div>

                    <div class="process__description" id="print">
                        <h2 class="panel__heading">Print</h2>
                        <p class="panel__content">Our dedicated cloud based servers scrape Instagram for your event
                            hashtag and capture the images.</p>
                        <a href="#" class="button button--light">find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>