<section class="panel panel--recent">
        <div class="panel__container">
            <div class="panel__row">
                <div class="panel__col panel__col--left">
                    <h2 class="panel__heading">Recent mosaics</h2>
                    <p class="panel__content">Our dedicated cloud based servers scrape Instagram for your event hashtag and capture the images.</p>
                </div>
                <div class="panel__col panel__col--right">
                    
                </div>
            </div>
        </div>
    </section>