body {
    color: @c-body;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    &.no-scroll {
        overflow: hidden;
    }
}

.body--loaded {
    .main-banner__content, .main-banner__media {
        opacity: 1;
    }
    header {
        transform: translateY(0);
    }
}


@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Black.ttf') format('truetype');
    font-weight: 900;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: @container-width;
    margin: 0 auto;
    padding: 0 30px;
}

main {
    flex: 1;
    outline: none;
    &:focus {
        outline: none;
    }
}

  img {
      max-width: 100%;
      .transition--long;
  }