footer {
    background-color: #171E23;
    color: #FFF;
    padding: 50px 0 0;
}

.footer__container {
    .container;
}

.footer__row {
    .row;
}

.footer__col {
    .col;
}

.footer__sub {
    border-top: 1px solid #FFF;
    margin-top: 50px;
    padding: 20px 0;
}