header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: @header-height;
    z-index: 100;
    transform: translateY(-100%);
    .transition--long;
    transition-delay: .5s;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: @header-height + 1px;
        background-color: darken(@c-dark, 2%);
        box-shadow: 0 0 30px rgba(0,0,0,.1);
        transform: translateY(-120%);
        z-index: 1;
        .transition--long;
    }
}

.header--bg {
    &:before {
        transform: translateY(0);
    }
    .header__container {
        &:after {
            transform: scaleX(0);
        }
    }
    .cls-1 {
        fill: @c-main !important;
    }
}

.header__container {
    .container;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    position: relative;
    z-index: 2;
    color: #FFF;
    .transition;
    &:after {
        content: '';
        position: absolute;
        right: 30px;
        bottom: 0;
        left: 30px;
        border-bottom: 1px solid #FFF;
        .transition;
        @media @tablet {
            display: none;
        }
    }
}

.logo__link {
    flex: 0 1 50px;
    max-width: 50px;
    margin-right: 50px;
}

.cls-1 {
    .transition;
    fill: #FFF !important;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    width: 100%;
    max-width: 90px;
}

.social-icon {
    color: #FFF;
    .transition;
    &:hover {
        color: @c-main;
    }
}

.icon-mail {
    font-size: 1.14rem;
}