.main-banner {
    // min-height: ~"calc(100vh + @{process-offset})";
    // min-height: ~"calc(100vh - @{process-offset})";
    min-height: 80vh;
    background-color: @c-dark;
    // background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: @header-height;
    display: flex;
    color: #FFF;
    position: relative;
    @media @tablet {
        min-height: 80vh;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.3);
        z-index: 1;
    }
}

.main-banner__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    // z-index: 1;
    opacity: 0;
    transition-delay: 2s;
    .transition--long;
}

.main-banner__container {
    .container;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    z-index: 3;
    position: relative;
    @media @tablet {
        justify-content: center;
    }
}

.main-banner__content {
    opacity: 0;
    .transition--long;
    transition-delay: .7s;
    margin-top: -@header-height;
    @media @tablet {
        text-align: center;
    }
}

.main-banner__title {
    font-size: 3.5rem;
}

.main-banner__text {

}

.main-banner__button {
    color: #FFF;
}