.main-banner {
    min-height: 100vh;
    background-color: @c-dark;
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: @header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.main-banner__container {
    .container;
}

.main-banner__content {

}

.main-banner__title {
    font-size: 3rem;
}

.main-banner__text {

}

.main-banner__button {
    color: #FFF;
}