.transition {
    transition: all ease .2s;
}

.transition--long {
    transition: all cubic-bezier(0.46, 0.03, 0.52, 0.96) .5s;
}

.link--cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.text-align--left {
    text-align: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
    margin: 0 -@panel-padding;
}

.row--reverse {
    flex-direction: row-reverse;
}

.col {
    flex: 0 1 ~"calc(50% - @{panel-padding} * 2)";
    padding: 0 @panel-padding;
    @media @tablet {
        flex: 0 1 100%;
        margin: 20px 0;
        text-align: center;
    }
}