.panel {
    margin: @content-padding;
    position: relative;
}

// modifiers
.panel--padding {
    margin: 0;
    padding: @content-padding;
}

.panel--process {
    .panel--padding;
    background-color: #1C262C;
    color: #FFF;
    padding-bottom: 250px;
    &:before {
        content: '';
        position: absolute;
        top: -@process-offset;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #1C262C;
        transform: rotate(-3deg) scaleX(1.5);
        z-index: 1;
    }
}

.panel--recent {
    .panel--padding;
    background-color: #171E23;
    color: #FFF;
    padding-bottom: 250px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #171E23;
        transform: rotate(0deg) scaleX(1.5) scaleY(1.5);
        z-index: 1;
        .transition--long;
    }
}

.panel--download {
    .panel--padding;
    color: #FFF;
    margin-bottom: 200px;
    .panel__heading {
        &:after {
            border-color: #FFF;
        }
    }
}


// animate {
    .panel--animating {
        &+.panel--recent {
            &:before {
                transform: rotate(5deg) scaleX(1.5) scaleY(1.5);
            }
        }
        .download-bg {
            transform: rotate(-6deg);
        }
        .download-bg__phone {
            transform: rotate(7deg);
        }
        .panel__heading {
            &:after {
                transform: scaleX(1);
            }
        }
    }

// elements

.panel__container {
    .container;
}

.panel__row {
    .row;
}

.panel__row--reverse {
    .row--reverse;
}

.panel__row--align-right {
    justify-content: flex-end;
}

.panel__col {
    .col;
}

.panel__col--left {

}

.panel__col--right {

}

.panel__col--offset-right {

}

.panel__heading {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 2.3rem;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        border-bottom: 2px solid @c-main;
        .transition--long;
        transform-origin: left;
        transform: scaleX(0);
    }
}

.panel__content {
    max-width: 400px;
    b {
        display: block;
    }
}


// download panel
.download-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    // transform: rotate(-6deg);
    .transition--long;
    // overflow-x: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: @c-main;
        transform: scaleX(1.5);
        z-index: 2;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -150px;
        left: -100px;
        right: -100px;
        height: 150px;
        background-color: #FFF;
        z-index: 10;
    }
}

.download-bg__phone {
    display: block;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(20deg);
    .transition--long;
}