.panel {
    margin: @content-padding;
    position: relative;
    outline: none;
}

// modifiers
.panel--padding {
    margin: 0;
    padding: @content-padding;
    @media @mobile {
        padding: 50px 0;
    }
}

.panel--process {
    .panel--padding;
    background-color: #1C262C;
    color: #FFF;
    padding-bottom: 30vh;
    @media @tablet {
        padding: 10vh 0 20vh;
    }
    &:before {
        content: '';
        position: absolute;
        top: -@process-offset;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #1C262C;
        transform: rotate(-3deg) scaleX(1.5);
        z-index: 1;

    }
}

.panel--recent {
    .panel--padding;
    background-color: #171E23;
    color: #FFF;
    padding-bottom: 250px;
    @media @tablet {
        padding-top: 10vh;
    }
    &:before {
        content: '';
        position: absolute;
        top: -10vh;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #171E23;
        transform: rotate(0deg) scaleX(1.5) scaleY(2);
        transform-origin: top;
        z-index: 1;
        .transition--long;
    }
}

.panel--download {
    .panel--padding;
    color: #FFF;
    margin-bottom: 200px;
    .panel__heading {
        &:after {
            border-color: #FFF;
        }
    }
}

.panel--5050 {
    @media @tablet {
        margin: 10vh 0;
        .panel__content, .panel__heading {
            text-align: left;
            max-width: 400px;
            &:after {
                left: 0;
                margin: 0;
            }
        }
    }
}


// animate {
.panel--animating {
    &.panel--recent {
        &:before {
            transform: rotate(5deg) scaleX(1.5) scaleY(1.5);
        }
    }
    .download-bg {
        transform: rotate(-6deg);
    }
    .download-bg__phone {
        transform: rotate(7deg);
    }
    .panel__heading {
        &:after {
            transform: scaleX(1);
        }
    }
}


// elements
.panel__container {
    .container;
}

.panel__row {
    .row;
}

.panel__row--reverse {
    .row--reverse;
}

.panel__row--align-right {
    justify-content: flex-end;
}

.panel__col {
    .col;
}


.panel__heading {
    position: relative;
    padding-bottom: 20px;
    font-size: 2.3rem;
    margin: 0 auto 20px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        border-bottom: 2px solid @c-main;
        .transition--long;
        transform-origin: left;
        transform: scaleX(0);
        @media @tablet {
            left: 50%;
            margin-left: -50px;
        }
    }
}

.panel__content {
    max-width: 400px;
    @media @tablet {
        margin: 0 auto 30px;
    }
    b {
        display: block;
        font-weight: 600;
    }
}

